<html>
    <!-- Header -->
	{{ partial "head.html" . }}

	<body>

	    <!-- Wrapper -->
		<div id="wrapper">

		{{ partial "nav.html" . }}

		    <!-- Main -->
			<div id="main">

				<section id="banner" class="style2">
					<div class="inner">
						{{ if .Params.image }}
						<span class="image">
							<img src="{{ .Params.image | absURL }}" alt="directory banner" />
						</span>
						{{ end }}
						<header class="major">
							<h1>{{ .Title }}</h1>
						</header>
						<div class="content">
							{{ .Content }}
						</div>
					</div>
				</section>

				<section id="tiles">
					{{ range .Pages }}
					<article class="constrainImage">
						<span class="image">
							{{ if .Params.image }}
							<img src="{{ .Params.image | absURL }}" alt="" />
							{{ end }}
						</span>
						<header class="major">
							<h3><a href="{{ .Permalink }}" class="link" aria-label="{{ .Title }}">{{ .Title }}</a></h3>
							<p>{{ .Description }}</p>
						</header>
					</article>
					{{ end }}
				</section>
			</div>

		    <!-- Footer -->
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
			{{ end }}

		</div>

	    <!-- Scripts -->
		{{ partial "js.html" . }}

	</body>
</html>
