<!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                {{ range .Site.Params.Footer.social }}
                    <li><a href="{{ .url | safeHTML }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                {{ end }}
            </ul>
            <ul class="copyright">
                <li>&copy;
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script> {{ .Site.Params.Footer.copyright }}</li>
                {{ range .Site.Params.Footer.line}}
                <li>{{ .text | markdownify }}</li>
                {{ end }}
            </ul>
        </div>
    </footer>
