<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
	<title>{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>

	<!-- Stylesheets -->
	{{ printf "<!--[if lte IE 8]><script src=\"%s\"></script><![endif]-->" ("js/ie/html5shiv.js" | absURL) | safeHTML }}
	<link rel="stylesheet" href="{{ "css/main.css" | absURL}}"/>
	{{ printf "<!--[if lte IE 9]><link rel=\"stylesheet\" href=\"%s\"/><![endif]-->" ("css/ie9.css" | absURL) | safeHTML }}
	{{ printf "<!--[if lte IE 8]><link rel=\"stylesheet\" href=\"%s\"/><![endif]-->" ("css/ie8.css" | absURL) | safeHTML }}
	{{ range .Site.Params.custom_css }}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{ end }}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<script src="{{ "js/ie/html5shiv.js" | absURL }}"></script>
	<script src="{{ "js/ie/html5shiv.jsrespond.min.js" | absURL }}"></script>
	{{ "<![endif]-->" | safeHTML }}

	<!-- Google Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}

	<!-- Extra -->
	{{ partial "head-extra.html" . }}
</head>
