<section id="partners">
	<div class="inner">
		<header class="major">
			<h2>{{ .Site.Params.Partners.title }}</h2>
		</header>
		{{ range .Site.Params.Partners.partner }}
		<article>
			<span class="image" {{ if not (eq .backgroundColor "") }} style="background-color: {{ htmlEscape .backgroundColor }}" {{ end }} ><a href="{{ .url }}">
				{{ if not (eq .image "") }}
				<img src="{{ .image | absURL }}" alt="{{ .alt }}" title="{{ .alt }}" />
				{{ else }}
				<p>{{ .alt }}</p>
				{{ end }}
			</a></span>
			<p class="description">{{ .description }}</p>
		</article>
		{{ end }}
	</div>
</section>