<section id="tiles">
    {{ range .Site.Params.Tiles.showcase }}
    <article {{ if eq .constrainImage true }}class="constrainImage"{{ end }}>
        <span class="image">
            {{ if not (eq .image "") }}
            <img src="{{ .image | absURL }}" alt="" />
            {{ end }}
        </span>
        <header class="major">
            <h3><a href="{{ .url | absURL }}" class="link" aria-label="{{ .title }}">{{ .title }}</a></h3>
            <p>{{ .subtitle }}</p>
        </header>
    </article>
    {{ end }}
</section>