<section id="one" class="tiles">
    {{ range .Site.Params.Tiles.showcase }}
    <article {{ if eq .containImage true }}class="containImage"{{ end }}>
        <span class="image">
            {{ if not (eq .image "") }}
            <img {{ if eq .containImage true }}class="containImage"{{ end }} src="{{ printf "img/%s" .image | absURL }}" alt="" />
            {{ end }}
        </span>
        <header class="major">
            <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
            <p>{{ .subtitle }}</p>
        </header>
    </article>
    {{ end }}
</section>