<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

	{{ partial "head.html" . }}
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			{{ partial "nav.html" . }}

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<h1>{{ .Site.Params.Error404.heading }}</h1>
					<p>{{ .Site.Params.Error404.text | markdownify }}</p>
				</div>
			</div>

			<!-- Footer -->
			{{ if .Site.Params.Footer.enable }}
				{{ partial "footer.html" . }}
			{{ end }}

		</div>

		<!-- Scripts -->
		{{ partial "js.html" . }}

	</body>
</html>
